*{
    box-sizing: border-box;
}
textarea::-moz-placeholder{
    font-family: Arial, Helvetica, sans-serif;
}
textarea::placeholder{
    font-family: Arial, sans-serif;
}
textarea::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* input::after{
    content: '!'
} */
.form,
.form fieldset{
    display: flex;
    flex-direction: column;
}
.form{
    max-width: 350px;
    margin: 10px auto;

}
.form label{
    display: flex;
    justify-content: space-between;
}
.form label:has(in:required)>span:after{
    content: '*';
    color: pink
}
.form label>input{
    width: 70%;
    border: 2px solid #ddd;
}
.form> abel>input:focus{
    outline: 3px dotted pink;
    border: 2px solid transparent;
}
.form [type="submit"]{
    width: 70%;
    align-self: flex-end;
}
[type='radio']{
    display: none;
}
label:has([type='radio'])::after{
    content: '0'
}
label:has([type='radio']:checked)::after{
    content: '1';
}
